@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-primary: #5f5f5f;
  /* --font-main: var(--font-host-grotesk); */
}
.svg-paragraph {
  @apply flex flex-col gap-4;
}

.paragraph-text {
  @apply font-normal leading-[120%] text-[32px] tracking-[0%] ;
}
